header {
  padding: 15px 15px;

  @include lg {
    padding: 15px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-navigation {
      display: flex;
      align-items: center;

      .logo {
        margin-right: 40px;
      }

      nav {
        display: none;
        @include font-navigation;

        @include xl {
          display: inline-block;
        }

        a {
          color: $gray-800;
          text-decoration: none;
          margin-right: 15px;
        }
      }
    }

    .site-settings {
      display: none;
      align-items: center;

      @include xl {
        display: flex;
      }

      .signin-signup {
        margin-left: 40px;
      }

      .theme-mode {
        @include font-navigation;
        display: flex;
        align-items: center;

        .form-check-input {
          margin-top: 5px;
        }
      }
    }

    .mobile-nav {
      background-color: transparent;
      border: none;
      font-size: 20 rem;
      color: $gray-800;

      @include xl {
        display: none;
      }
    }
  }
}
